@model Lab01_Grupo1.Models.Medico

<h2>Eliminar Médico</h2>
<p>¿Estás seguro de eliminar al médico <strong>@Model.Usuario.Nombre</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="IdMedico" />
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

